<dx-load-panel [(visible)]="loadingVisible" shadingColor="rgba(0,0,0,0.4)" [showIndicator]="true"
  [showPane]="true" [shading]="true" [closeOnOutsideClick]="true"></dx-load-panel>

<dx-data-grid [dataSource]="queryResult" [rowAlternationEnabled]="true">
  <dxo-export [enabled]="true" fileName="rec_ass - Por Produto"></dxo-export>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>

  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxi-column dataField="groupby" caption="Produto" [width]="600"></dxi-column>
  <dxi-column dataField="soma" caption="R$ Recebido" dataType="number" format="currency"></dxi-column>
  <dxi-column dataField="valor_em_porc" caption="% Recebido" dataType="number"></dxi-column>
  <dxi-column dataField="ticketMedio" caption="R$ Ticket médio" dataType="number" format="currency"></dxi-column>
  <dxi-column dataField="tickets" caption="# tickets" dataType="number"></dxi-column>
  <dxi-column dataField="tickets_em_porc" caption="% tickets" dataType="number"></dxi-column>

  <dxo-summary>
    <dxi-total-item column="groupby" summaryType="count">
    </dxi-total-item>
    <dxi-total-item column="soma" summaryType="sum" valueFormat="currency">
    </dxi-total-item>
    <dxi-total-item column="valor_em_porc" summaryType="sum" [customizeText]="customizePorc">
    </dxi-total-item>
    <dxi-total-item column="tickets" summaryType="sum">
    </dxi-total-item>
    <dxi-total-item column="tickets_em_porc" summaryType="sum" [customizeText]="customizePorc">
    </dxi-total-item>
  </dxo-summary>

</dx-data-grid>