<h1>Itaú - Recebimento (RecAss e RejMis)</h1>
<dx-toolbar>
    <dxi-item location="before" locateInMenu="never">
        <div class='toolbar-label'>De </div>
    </dxi-item>
    <dxi-item location="before">
        <dx-date-box [(value)]="dataDe" displayFormat="dd/MM/yyyy"></dx-date-box>
    </dxi-item>
    <dxi-item location="before" locateInMenu="never">
        <div class='toolbar-label'>até</div>
    </dxi-item>
    <dxi-item location="before">
        <dx-date-box [(value)]="dataAte" displayFormat="dd/MM/yyyy"></dx-date-box>
    </dxi-item>
    <dxi-item location="before">
        <dx-button type="default" text="Filtrar" (onClick)="btFiltrar()"></dx-button>
    </dxi-item>
</dx-toolbar>

<p></p>

<dx-tab-panel #tab [selectedIndex]="0">
    <dxi-item class="tabpanel-item" title="Grid" icon="chart">
        <itau-recebimento-grid [queryResult]="queryResult"></itau-recebimento-grid>
    </dxi-item>
    <dxi-item class="tabpanel-item" title="Pivot" icon="chart">
        <itau-recebimento-pivot [queryResult]="queryResult"></itau-recebimento-pivot>
    </dxi-item>
</dx-tab-panel>