<!-- <div class='menubar'>
  <button mat-button color="default" (click)="onHomeClick()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menu">Itaú</button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="onItauCarteiraClick()">Carteira</button>
    <button mat-menu-item (click)="onItauRecAssRejMisClick()">RecAss & RejMis</button>
  </mat-menu>
</div>
<p></p> -->

<!-- <div> -->
  <app-menu></app-menu>
<!-- </div> -->
<router-outlet></router-outlet>



<!-- <div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->