<dx-data-grid id="gridContainer" [dataSource]="queryResult" [allowColumnResizing]="true" columnResizingMode="widget">
  <dxo-export [enabled]="true" fileName="Carteira atual - Grid"></dxo-export>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
  <dxo-summary>
  </dxo-summary>
</dx-data-grid>
